<% if @fightcard.errors.any? %>
	<% pluralize(@fightcard.errors.count, "errors") %> prohibited this from being saved
	<ul>
	<% @fightcard.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>